@import 'tailwindcss';
:root{
  color: hsl(0, 79%, 42%)
}

@theme {
  --prueba: 0 79% 42%;
  --border: 220 14% 95%;
  --input: 220 14% 97%;
  --ring: 220 14% 90%;
  --background: 0 0% 100%;
  --foreground: 220 14% 10%;

  --primary: 240 100% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 14% 80%;
  --secondary-foreground: 220 14% 20%;
  --destructive: 0 80% 60%;
  --destructive-foreground: 0 0% 100%;
  --muted: 220 14% 94%;
  --muted-foreground: 220 14% 30%;
  --accent: 48 100% 67%;
  --accent-foreground: 220 14% 10%;
  --popover: 220 14% 98%;
  --popover-foreground: 220 14% 20%;
  --card: 0 0% 100%;
  --card-foreground: 220 14% 10%;

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 100%;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1400px;
    }
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary-foreground {
    color: var(--color-primary-foreground);
  }
  .rounded-lg {
    border-radius: var(--radius-lg);
  }
  .rounded-md {
    border-radius: var(--radius-md);
  }
  .rounded-sm {
    border-radius: var(--radius-sm);
  }
  .border {
    border-color: var(--color-border);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}
@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

html {
  scroll-behavior: smooth;
}
